:root {
  --red: #ff4501;
  --gray: #888689;
  --light-gray: #e3e2e3;
  --small-size: 12px;
  --margin_bottom: 20px;
  --margin_top: 20px;
  --green-color: #00b39d;
}

.wrapper {
  background-color: white;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 10px;
}

.margin_bottom {
  margin-bottom: var(--margin_bottom);
}

.margin_top {
  margin-top: var(--margin_top);
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}

.value {
  font-weight: bolder;
  font-size: 18px;
}

.small {
  font-size: var(--small-size);
}

.gray {
  color: var(--gray);
}

.red {
  color: var(--red);
}

.margin_top_bottom {
  margin: 15px 0;
}

.bolder {
  font-weight: bolder;
}

.align_right {
  text-align-last: right;
}
/*=================Classes específicas========================*/
.negotiated_papers {
  border-top: 1px solid var(--light-gray);
}

.negotiated_papers_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.test {
  display: inline;
}
@media screen and (max-device-width: 480px) {
  .negotiated_papers_wrapper {
    flex-direction: column;
  }
}
