:root {
  --red: #ff4501;
  --gray: #888689;
  --light-gray: #e3e2e3;
  --small-size: 12px;
  --margin_bottom: 20px;
  --margin_top: 20px;
  --green-color: #00b39d;
}

.wrapper {
  background-color: white;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 10px;
}

.margin_bottom {
  margin-bottom: var(--margin_bottom);
}

.margin_top {
  margin-top: var(--margin_top);
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}

.value {
  font-weight: bolder;
  font-size: 18px;
}

.small {
  font-size: var(--small-size);
}

.gray {
  color: var(--gray);
}

.red {
  color: var(--red);
}

.bolder {
  font-weight: bolder;
}

.align_right {
  text-align-last: right;
}
/*=================Classes específicas========================*/
.negotiated_papers {
  border-top: 1px solid var(--light-gray);
}

.paper {
  line-height: 0.1em;
  margin: 1px 0 20px;
  background-image: linear-gradient(
    to right,
    var(--gray) 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 4px 2px;
  background-repeat: repeat-x;
}
.paper .paper_name {
  background-color: var(--green-color);
  border-radius: 3px;
  padding: 3px;
  font-size: 14px;
  color: white;
}

.paper div {
  margin-left: 93%;
  background-color: white;
  padding: 0 0px;
}

.paper .paper_transations span {
  font-weight: bold;
  margin-right: 5px;
}

.test {
  display: inline;
}
